*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

# Android
app/src/main/res/raw/pipelines.kml
app/src/main/res/raw/pipelines_csv.csv

# Python Scripts
scripts/.env
scripts/credentials.json
scripts/*.csv
