*.iml
Android/.gradle
Android/local.properties
Android/.idea/caches
Android/.idea/libraries
Android/.idea/modules.xml
Android/.idea/workspace.xml
Android/.idea/navEditor.xml
Android/.idea/assetWizardSettings.xml
Android/.DS_Store
Android/build
Android/captures
Android/.externalNativeBuild
Android/.cxx

# Android
Android/app/src/main/res/raw/pipelines.kml
Android/app/src/main/res/raw/pipelines_csv.csv

# Python Scripts
scripts/.env
scripts/credentials.json
scripts/*.csv
scripts/db.py

# Functions
.firebaserc
